<section class="faqSection">
  <div class="container pt-8 pt-md-11">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="faq">FAQ</h3>
        </div>
      </div>
      <div class="col-12 col-md-6 aos-init aos-animate"  data-aos="fade-right" data-aos-delay="100">
        <div class="d-flex" >
          <div class="circleQuestion">
            <span>?</span>
          </div>
          <div class="faqContent">
            <h4>
              How quickly can I start using Quikk?
            </h4>
            <p>
              Quikk is easy to access & integrate. All you need to get started is to sign up.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 aos-init aos-animate"  data-aos="fade-left" data-aos-delay="100">
        <div class="d-flex">
          <div class="circleQuestion">
            <span>?</span>
          </div>
          <div class="faqContent">
            <h4>Which coding languages does Quikk use?</h4>
            <p>
              Quikk is built on ruby on rails. We have python and django available to connect through.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="d-flex">
          <div class="circleQuestion">
            <span>?</span>
          </div>
          <div class="faqContent">
            <h4>
              Which APIs can I access through Quikk?
            </h4>
            <p>
              You can access M-PESA APIs, like B2B, C2B, B2C & other APIs.
              <br />
            
              We have more APIs coming soon.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cyrve shape -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x text-gray-200">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
    </svg>
  </div>
</div>