.navbar {
    height: 60px;
}

.dropdown-toggle::after {
    /* display: none !important; */
    border: 0 !important
}

.navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
}


.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
}

@media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }

    .dropdown-menu.show {
        display: flex;
    }
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
    background-color: #f1f1f1;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }
}

.logo-img {
    height: 60px;
    /* margin-left: -25px; */
    cursor: pointer;
}

.navColor .nav-item a {
    color: rgb(31, 31, 31);
    font-weight: 500;
    font-size: 16px;
}

.navColor .nav-item a fa-icon {
    color: #335eea;
}

@media (max-width:998px) {
    .logo-img {
        height: 50px;
        margin-left: 5px;
    }

    .navbar-nav {
        background-color: #fff;
    }
}