<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <img src="/assets/images/fingo modified logo.png" alt="image" class="logo-img">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navColor">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="homeIcon"></fa-icon>
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="chartLineIcon"></fa-icon>
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <ul>
                            <li><a class="dropdown-item" href="#">Company</a></li>
                            <li><a class="dropdown-item" href="#">Team</a></li>
                        </ul>
                    </div>

                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="columnsIcon"></fa-icon>
                        Partners
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <ul>
                            <li><a class="dropdown-item" href="#">Providers</a></li>
                            <li><a class="dropdown-item" href="#">Partners</a></li>
                            <li><a class="dropdown-item" href="#">Investors</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="blogIcon"></fa-icon>
                        Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <ul>
                            <li><a class="dropdown-item" href="#">FAQ</a></li>
                            <li><a class="dropdown-item" href="#">Blog</a></li>
                        </ul>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="contactCardIcon"></fa-icon>
                        Contact Us
                    </a>
                </li>
            </ul>
            <!-- <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="#">Buy Now</a> -->
        </div>
    </div>
</nav>