<section id="team" class="aboutSection">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">

      <div class="col-md-9">
        <h3 class="about-us">About Us</h3>

        <img src="/assets/images/Quikk Image 2.webp" class="mt-2 mb-2" width="75%" alt="...">

        <p class="aboutContent">Our team has deep combined experience of over 40 years with Fintech, APIs, Mobile money & banking.
          Our team has built dozens of systems & APIs, including the first payment APIs in Africa while at Equity &
          M-PESA.,</p>
      </div>
    </div>
  </div>
</section>