<section class="testimonialSection">
    <div class="container">
        <div class="row d-flex justify-content-center">
           <div class="col-md-10">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel indicators -->
                <!-- <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                </ol> -->
    
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active text-center">
                        <h3>"Quikk is our best-kept Secret. The Quikk API gave as the confidence to rapidly scale our
                            operations."</h3>
                        <p>- Cathy, Founder & CEO, Tushop</p>
                    </div>
                    <div class="carousel-item text-center">
                        <h3>"Through Quikk, I was able to launch payments in days, not months. Quikk's security gives us
                            peace
                            of mind over our payments."</h3>
                        <p>- Osiloke, CTO, Tutadoo</p>
                    </div>
                    <div class="carousel-item text-center">
                        <h3>"Quikk's documentation is quite easy to understand. Their API callbacks are superfast, allowing
                            us
                            to handle thousands of transactions per day."</h3>
                        <p>- Collins, Senior Software Engineer, Pezesha</p>
                    </div>
                </div>
    
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                    <span><fa-icon [icon]="leftArrow"></fa-icon></span>
                </a>
    
                <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                    <span><fa-icon [icon]="rightArrow"></fa-icon></span>
                </a>
            </div>
           </div>
        </div>
    
    </div>
</section>