<!-- welcome start -->
<section class="welcomeSection">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
        <!-- Image -->
        <img src="/assets/images/Quikk imasge 1.webp" class="welcomeImg" width="100%" alt="...">
      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1 welcomeHeading" data-aos="fade-up">
        <!-- Heading -->
        <h1>
          <span class="text-primary">QUIKK API.</span> <br>
          Hassle-free African APIs
        </h1>
        <!-- Text -->
        <p>
          Easy for developers & tech companies to add and manage M-PESA, Bank and KYC Apis in one place.
        </p>
        <!-- Buttons -->
        <div class="welcomeBtn">
          <a href="#" class="btn btn-primary">
            View all pages <i class="fa fa-arrow-right d-none d-md-inline ms-3"></i>
          </a>
          <a href="#" class="btn btn-primary-soft">
            Documentation
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- welxome end -->