<!-- welcome start -->
<section class="welcomeSection">
  <div class="container">
    <div class="row d-flex align-items-end">
      <div class="col-12 col-md-7 col-lg-6 order-md-2 align-items-end">
        <!-- Image -->
        <img src="/assets/images/Quikk header.png" class="welcomeImg" width="100%" alt="...">
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-md-1 welcomeHeading" data-aos="fade-up">
        <!-- Heading -->
        <h1>
          <span class="text-primary">Quikk</span> <br>
          Hassle-free African APIs
        </h1>
        <!-- Text -->
        <p>
          Easy for developers & tech companies to add & manage M-PESA, Bank, KYC & other APIs in one place.
        </p>
        <!-- Buttons -->
        <div class="welcomeBtn">
          <a href="#" class="btn btn-primary">
            Get Access <i class="fa fa-arrow-right d-none d-md-inline ms-3"></i>
          </a>
          <a href="#" class="btn btn-primary-soft">
            Talk to Us
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- welxome end -->