<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="partnerLogo d-flex align-items-center justify-content-center">
          <img src="/assets/images/brands/1200px-M-PESA_LOGO-01.svg.png" alt="">
          <img src="/assets/images/brands/afik-logo-upscaled-4x-4x.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="investorLogo d-flex align-items-center justify-content-center">
          <img src="/assets/images/brands/ffa logo.png" alt="">
          <img src="/assets/images/brands/RC- no background.png" alt="">
          <div class="otherBox">
            <span>
              <fa-icon [icon]="plusIcon"></fa-icon> <br> Plus 15 <br> Angels
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>