<!-- brand start -->
<section id="client" class="brandSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center brandHeading">
        <h1>Our Ecosystem</h1>
        <h1>Clients, Investors & Partners</h1>
      </div>
      <div class="col-md-12 mt-5">
        <div class="clientLogo d-flex align-items-center justify-content-center">
          <img src="/assets/images/brands/fingo modified logo.png" class="fng" alt="">
          <img src="/assets/images/brands/Tutadoo full name logo long 2.png" alt="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="client2Logo d-flex align-items-center justify-content-center">
          <img src="/assets/images/brands/Pezesha logo.png" alt="">
          <img src="/assets/images/brands/tushop logo 1.png" alt="">
          <img src="/assets/images/brands/Honeycoin 3_Logo.png" class="ss" alt="">
        </div>
      </div>
    </div>


  </div>
</section>
<!-- brand end -->