<!-- feature start -->
<section class="featureSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="why-quikk"> Why Quikk?</h3>
        </div>
      </div>
      <div class="col-12 col-md-4 featureBox aos-init aos-animate" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="3rem" height="3rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"></path>
              <path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"></path>
              <path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3">
              </path>
            </g>
          </svg>
        </div>
        <h3>Security come first</h3>
        <p>
          You demand sky high levels of security. <br />
          Quikk helps you stay safe using whitelists. <br />
          Authentication, Encryption & so much more
        </p>

      </div>
      <div class="col-12 col-md-4 featureBox aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="3rem" height="3rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"></path>
              <path
                d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z"
                fill="#335EEA"></path>
              <path
                d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z"
                fill="#335EEA" opacity=".3"></path>
            </g>
          </svg>
        </div>
        <h3>Built for developers</h3>
        <p>
          Our API is beautiful. Period! We bring <br />
          simplicity and standardization to complex <br />
          APIs. We make integrations painless!
        </p>
      </div>
      <div class="col-12 col-md-4 featureBox aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="3rem" height="3rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"></path>
              <path
                d="M12 8H8a4 4 0 00-4 4v1a3 3 0 003 3v2a5 5 0 01-5-5v-1a6 6 0 016-6h4V4.728a.5.5 0 01.8-.4l2.856 2.133a.5.5 0 01-.001.802l-2.857 2.121A.5.5 0 0112 8.983V8z"
                fill="#335EEA"></path>
              <path
                d="M12.058 16H16a4 4 0 004-4v-1a3 3 0 00-3-3V6a5 5 0 015 5v1a6 6 0 01-6 6h-3.942v.983a.5.5 0 01-.798.401l-2.857-2.12a.5.5 0 010-.803l2.856-2.134a.5.5 0 01.8.401V16z"
                fill="#335EEA" opacity=".3"></path>
            </g>
          </svg>
        </div>
        <h3>Scalable</h3>
        <p>
          You want to grow to thousands of <br />
          customers in months. Our platform is built & 
          tested to handle rapid scale.
        </p>
      </div>
      <div class="col-12 col-md-4 featureBox aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="3rem" height="3rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"></path>
              <path
                d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z"
                fill="#335EEA"></path>
              <rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1">
              </rect>
            </g>
          </svg>
        </div>
        <h3>Simple & Clear Docs</h3>
        <p>
          Integrate in minutes thanks to our clear yet <br />
          in-depth & searchable documentation
        </p>

      </div>
      <div class="col-12 col-md-4 featureBox aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
              d="M4 4L11.6314 2.56911C11.875 2.52343 12.125 2.52343 12.3686 2.56911L20 4V11.9033C20 15.696 18.0462 19.2211 14.83 21.2313L12.53 22.6687C12.2057 22.8714 11.7943 22.8714 11.47 22.6687L9.17001 21.2313C5.95382 19.2211 4 15.696 4 11.9033L4 4Z"
              fill="#335EEA"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.175 14.75C10.9354 14.75 10.6958 14.6542 10.5042 14.4625L8.58749 12.5458C8.20415 12.1625 8.20415 11.5875 8.58749 11.2042C8.97082 10.8208 9.59374 10.8208 9.92915 11.2042L11.175 12.45L14.3375 9.2875C14.7208 8.90417 15.2958 8.90417 15.6792 9.2875C16.0625 9.67083 16.0625 10.2458 15.6792 10.6292L11.8458 14.4625C11.6542 14.6542 11.4146 14.75 11.175 14.75Z"
              fill="#335EEA"></path>
          </svg>
        </div>
        <h3>Realiable</h3>
        <p>
          Quikk is built for tech companies. Our platform offers 99.9999%  availability, giving you peace of mind.
        </p>

      </div>
      <div class="col-12 col-md-4 featureBox aos-init aos-animate" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="com/com014">
              <path id="vector" opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                d="M4 4L11.6314 2.56911C11.875 2.52343 12.125 2.52343 12.3686 2.56911L20 4V11.9033C20 15.696 18.0462 19.2211 14.83 21.2313L12.53 22.6687C12.2057 22.8714 11.7943 22.8714 11.47 22.6687L9.17001 21.2313C5.95382 19.2211 4 15.696 4 11.9033L4 4Z"
                fill="#335EEA"></path>
              <path id="group" fill-rule="evenodd" clip-rule="evenodd"
                d="M9.5 10.5C9.5 9.11929 10.6193 8 12 8C13.3807 8 14.5 9.11929 14.5 10.5V11C15.0523 11 15.5 11.4477 15.5 12V15C15.5 15.5523 15.0523 16 14.5 16H9.5C8.94772 16 8.5 15.5523 8.5 15V12C8.5 11.4477 8.94772 11 9.5 11V10.5ZM12 9C11.1716 9 10.5 9.67157 10.5 10.5V11H13.5V10.5C13.5 9.67157 12.8284 9 12 9Z"
                fill="#335EEA"></path>
            </g>
          </svg>
        </div>
        <h3>Personal Support</h3>
        <p>
          If you have a question or issue, we aim to <br />
          get back to you within minutes, not days
        </p>

      </div>
      
     
    </div> <!-- / .row -->
  </div>
</section>
<!-- feature end -->